### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"

# Read School Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
#Read School Data File and store into Pandas Data Frames
student_data_to_load = "Resources/students_complete.csv"
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary
Calculate the total number of schools
Calculate the total number of students
Calculate the total budget
Calculate the average math score 
Calculate the average reading score
Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Calculate the percentage of students with a passing math score (70 or greater)
Calculate the percentage of students with a passing reading score (70 or greater)
Create a dataframe to hold the above results
Optional: give the displayed data cleaner formatting

In [12]:
# District Summary
Total_School = school_data['school_name'].count()
print(Total_School)
Total_Student= student_data['student_name'].count()
print(Total_Student)

Total_Budget = school_data['budget'].sum()
print(Total_Budget)

Average_Math = student_data['math_score'].sum()/Total_Student
print(Average_Math)

Average_Reading = student_data['reading_score'].sum()/Total_Student
print(Average_Reading)

Overall_Average = (Average_Math + Average_Reading)/2
print(Overall_Average)

Math_Pass_Percent = student_data.loc[student_data ['math_score']>70].count()
print(Math_Pass_Percent)

Reading_Pass_Percent = (student_data.loc[student_data ['reading_score']>70].count())/Total_Student
print(Reading_Pass_Percent)

#Overall_Pass_Percent= (Math_Pass_Percent + Reading_Pass_Percent)/2


#District_Data= pd.DataFrame({"Total School": [Total_School], "Total Student":Total_Student,
 #                            "Total Budget": Total_Budget,
  #                           "Average Math Score": Average_Math,
   #                          "Average Reading Score": Average_Reading,
    #                         "% Passing Math": Math_Pass_Percent,
     #                        "% Passing Reading": Reading_Pass_Percent
      #                        })

#District_Data

15
39170
24649428
78.98537145774827
81.87784018381414
80.43160582078121
Student ID       28356
student_name     28356
gender           28356
grade            28356
school_name      28356
reading_score    28356
math_score       28356
dtype: int64
Student ID       0.829717
student_name     0.829717
gender           0.829717
grade            0.829717
school_name      0.829717
reading_score    0.829717
math_score       0.829717
dtype: float64

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [38]:
School_Summary= school_data_complete.groupby(['school_name'])
School_Type = School_Summary['type'].unique().apply(lambda x: x[0])
print(School_Type)
Total_Students= School_Summary['student_name'].count()
print(Total_Students)
Total_Budget = School_Summary['budget'].sum()
print(Total_Budget)
Per_Student_Budget = Total_Budget/Total_Students
print(Per_Student_Budget)
Average_Math_Score= School_Summary['math_score'].mean()
print(Average_Math_Score)
Average_Reading_Score= School_Summary['reading_score'].mean()
print(Average_Reading_Score)
Percent_Math= school_data_complete.loc[school_data_complete['math_score']>70]
Math_Data = Percent_Math.groupby(['school_name'])['math_score'].count()
print(Math_Data)
Math_Pass_Percent= Math_Data/Total_Students
print(Math_Pass_Percent)

Reading_Data = Percent_Math.groupby(['school_name'])['math_score'].count()
print(Math_Data)

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object
school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64
school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64
school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64
school_name
Bailey High School       3216
Cabrera High School      1664
Figueroa High School     1880
Ford High School         1801
Griffin High School      1317
Hernandez High School    3001
Holden High School        387
Huang High School        1847
Johnson High School      3040
Pena High School          882
Rodriguez High School    2562
Shelton High School      1583
Thomas High School       1475
Wilson High School       2076
Wright High School       1625
Name: math_score, dtype: int64
school_name
Bailey High School       0.646302
Cabrera High School      0.895587
Figueroa High School     0.637504
Ford High School         0.657539
Griffin High School      0.897139
Hernandez High School    0.647465
Holden High School       0.906323
Huang High School        0.633185
Johnson High School      0.638521
Pena High School         0.916840
Rodriguez High School    0.640660
Shelton High School      0.898921
Thomas High School       0.902141
Wilson High School       0.909330
Wright High School       0.902778
dtype: float64

In [39]:
School_Summary = pd.DataFrame({"Type":School_Type,
                               "Total Students":Total_Students
                              })
School_Summary
#Math_Pass_Percent = Math_Percent_School['math_score'].count()/Total_Students

                           Type  Total Students
school_name
Bailey High School     District            4976
Cabrera High School     Charter            1858
Figueroa High School   District            2949
Ford High School       District            2739
Griffin High School     Charter            1468
Hernandez High School  District            4635
Holden High School      Charter             427
Huang High School      District            2917
Johnson High School    District            4761
Pena High School        Charter             962
Rodriguez High School  District            3999
Shelton High School     Charter            1761
Thomas High School      Charter            1635
Wilson High School      Charter            2283
Wright High School      Charter            1800

## Top Performing Schools (By Passing Rate)
* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [45]:
#school1
    #9, 10, 11, 12
    #score
#school 2
Grade_Nine_Math = school_data_complete.loc[ school_data_complete['grade']=='9th']
Grade_Nine_Math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.