### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"

# Read School Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [2]:
#Read School Data File and store into Pandas Data Frames
student_data_to_load = "Resources/students_complete.csv"
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

Calculate the total number of schools
Calculate the total number of students
Calculate the total budget
Calculate the average math score 
Calculate the average reading score
Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Calculate the percentage of students with a passing math score (70 or greater)
Calculate the percentage of students with a passing reading score (70 or greater)
Create a dataframe to hold the above results
Optional: give the displayed data cleaner formatting

In [4]:
# District Summary
Total_School = school_data['school_name'].count()

Total_Student= school_data['size'].sum()

Total_Budget = school_data['budget'].sum()

Total_Math = student_data['math_score'].sum()
Average_Math = Total_Math/Total_Student

Total_Reading = student_data['reading_score'].sum()
Average_Reading= Total_Reading/Total_Student

Overall_Average = (Average_Math + Average_Reading)/2

Math_Pass= student_data.loc[student_data ['math_score']>70]['math_score'].count()
Math_Pass_Percent = (Math_Pass/Total_Student)*100


Reading_Pass = student_data.loc[student_data ['reading_score']>70]['reading_score'].count()
Reading_Pass_Percent = (Reading_Pass/Total_Student)*100


District_Data= pd.DataFrame({"Total Schools":[Total_School], 
                             "Total Students":[Total_Student],
                              "Total Budget": [Total_Budget],
                            "Average Math Score": [Average_Math],
                            "Average Reading Score": [Average_Reading],
                            "% Passing Math": [Math_Pass_Percent],
                             "% Passing Reading": [Reading_Pass_Percent],
                             "% Overall Passing": [Overall_Average]
                              })

District_Data=District_Data[['Total Schools','Total Students','Total Budget','Average Math Score', 'Average Reading Score',
                            '% Passing Math', '% Passing Reading', '% Overall Passing']]
District_Data

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,80.431606

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [5]:
#School Summary
School_Type= school_data.set_index(["school_name"])["type"]

Total_Students= school_data_complete["school_name"].value_counts()

Total_Budget= school_data_complete.groupby(["school_name"]).mean()["budget"]

Per_Student_Budget = Total_Budget/Total_Students

Average_Math_Score =school_data_complete.groupby(["school_name"]).mean()["math_score"]

Average_Reading_Score =school_data_complete.groupby(["school_name"]).mean()["reading_score"]

Math_Pass= school_data_complete[(school_data_complete["math_score"]>70)]
Math_Pass_Total= Math_Pass.groupby(["school_name"]).count()["student_name"]
Math_Pass_Percent = (Math_Pass_Total/Total_Students)*100

Read_Pass= school_data_complete[(school_data_complete["reading_score"]>70)]
Read_Pass_Total= Read_Pass.groupby(["school_name"]).count()["student_name"]
Read_Pass_Percent = (Read_Pass_Total/Total_Students)*100

Overall_Passing = (Math_Pass_Percent + Read_Pass_Percent)/2

School_Summary = pd.DataFrame({"School Type": School_Type, 
                             "Total Students": Total_Students,
                              "Total Budget": Total_Budget,
                              "Per Student Budget": Per_Student_Budget,
                              "Average Math Score":Average_Math_Score,
                              "Average Reading Score": Average_Reading_Score,
                               "% Passing Math": Math_Pass_Percent,
                               "% Passing Reading": Read_Pass_Percent,
                               "Overall Passing Rate":Overall_Passing
                              })
School_Summary=School_Summary[['School Type','Total Students','Total Budget','Average Math Score', 'Average Reading Score',
                            '% Passing Math', '% Passing Reading', 'Overall Passing Rate']]
School_Summary.head(14)

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928.0,77.048432,81.033963,64.630225,79.300643,71.965434
Cabrera High School,Charter,1858,1081356.0,83.061895,83.975780,89.558665,93.864370,91.711518
Figueroa High School,District,2949,1884411.0,76.711767,81.158020,63.750424,78.433367,71.091896
Ford High School,District,2739,1763916.0,77.102592,80.746258,65.753925,77.510040,71.631982
Griffin High School,Charter,1468,917500.0,83.351499,83.816757,89.713896,93.392371,91.553134
Hernandez High School,District,4635,3022020.0,77.289752,80.934412,64.746494,78.187702,71.467098
Holden High School,Charter,427,248087.0,83.803279,83.814988,90.632319,92.740047,91.686183
Huang High School,District,2917,1910635.0,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,3094650.0,77.072464,80.966394,63.852132,78.281874,71.067003
Pena High School,Charter,962,585858.0,83.839917,84.044699,91.683992,92.203742,91.943867
Rodriguez High School,District,3999,2547363.0,76.842711,80.744686,64.066017,77.744436,70.905226
Shelton High School,Charter,1761,1056600.0,83.359455,83.725724,89.892107,92.617831,91.254969
Thomas High School,Charter,1635,1043130.0,83.418349,83.848930,90.214067,92.905199,91.559633
Wilson High School,Charter,2283,1319574.0,83.274201,83.989488,90.932983,93.254490,92.093736

## Top Performing Schools (By Passing Rate)
* Sort and display the top five schools in overall passing rate

In [6]:
#Top performing schools
School_Summary_Top = School_Summary.sort_values(["Overall Passing Rate"], ascending = False)

School_Summary_Top.head()

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Wilson High School,Charter,2283,1319574.0,83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,Charter,962,585858.0,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,1049400.0,83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,Charter,1858,1081356.0,83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,Charter,427,248087.0,83.803279,83.814988,90.632319,92.740047,91.686183

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [7]:
#Bottom performing schools
School_Summary_Bottom = School_Summary.sort_values(["Overall Passing Rate"], ascending = True)
School_Summary_Bottom.head()

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,District,2917,1910635.0,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,3094650.0,77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,District,2949,1884411.0,76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,District,4635,3022020.0,77.289752,80.934412,64.746494,78.187702,71.467098

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [8]:
# math scores by grade
Grade_Nine_Math = school_data_complete[ school_data_complete['grade']=='9th']
Average_Nine_Math= Grade_Nine_Math.groupby(["school_name"]).mean()["math_score"]

Grade_Ten_Math = school_data_complete[ school_data_complete['grade']=='10th']
Average_Ten_Math= Grade_Ten_Math.groupby(["school_name"]).mean()["math_score"]

Grade_Eleven_Math = school_data_complete[ school_data_complete['grade']=='11th']
Average_Eleven_Math= Grade_Eleven_Math.groupby(["school_name"]).mean()["math_score"]

Grade_Tweleve_Math = school_data_complete[ school_data_complete['grade']=='12th']
Average_Tweleve_Math= Grade_Tweleve_Math.groupby(["school_name"]).mean()["math_score"]

Math_Score_By_Grade= pd.DataFrame({"Grade 9": Average_Nine_Math,
                                   "Grade 10":Average_Ten_Math,
                                   "Grade 11":Average_Eleven_Math,
                                   "Grade 12": Average_Tweleve_Math
                                    })
Math_Score_By_Grade= Math_Score_By_Grade[['Grade 9', 'Grade 10', 'Grade 11', 'Grade 12']]

Math_Score_By_Grade

                         Grade 9   Grade 10   Grade 11   Grade 12
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [9]:
# reading score by grade
Average_Nine_Read= Grade_Nine_Math.groupby(["school_name"]).mean()["reading_score"]
Average_Ten_Read= Grade_Ten_Math.groupby(["school_name"]).mean()["reading_score"]
Average_Eleven_Read= Grade_Eleven_Math.groupby(["school_name"]).mean()["reading_score"]
Average_Tweleve_Read= Grade_Tweleve_Math.groupby(["school_name"]).mean()["reading_score"]
Reading_Score_By_Grade= pd.DataFrame({"Grade 9": Average_Nine_Read,
                                   "Grade 10":Average_Ten_Read,
                                   "Grade 11":Average_Eleven_Read,
                                   "Grade 12": Average_Tweleve_Read
                                    })
Reading_Score_By_Grade= Reading_Score_By_Grade[['Grade 9', 'Grade 10', 'Grade 11', 'Grade 12']]


Reading_Score_By_Grade

                         Grade 9   Grade 10   Grade 11   Grade 12
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [10]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

#scores by school spending
Scores_By_Spending= School_Summary
Scores_By_Spending["School Spending"]= pd.cut(Per_Student_Budget, spending_bins, labels= group_names)


Math_Score_School_Spending= Scores_By_Spending.groupby(["School Spending"]).mean()["Average Math Score"]
Read_Score_School_Spending= Scores_By_Spending.groupby(["School Spending"]).mean()["Average Reading Score"]
Math_Percent_School_Spending= Scores_By_Spending.groupby(["School Spending"]).mean()["% Passing Math"]
Read_Percent_School_Spending= Scores_By_Spending.groupby(["School Spending"]).mean()["% Passing Reading"]
Overall_Score_School_Spending= Scores_By_Spending.groupby(["School Spending"]).mean()["Overall Passing Rate"]

School_Spending = pd.DataFrame({"Average Math Score": Math_Score_School_Spending,
                               "Average Reading Score": Read_Score_School_Spending,
                               "% Passing Math": Math_Percent_School_Spending,
                               "% Passing Reading": Read_Percent_School_Spending,
                               "Overall Passing Rate": Overall_Score_School_Spending})
School_Spending= School_Spending[['Average Math Score', 'Average Reading Score', '% Passing Math', 
                                '% Passing Reading', 'Overall Passing Rate']]

School_Spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Spending,,,,,
<$585,83.455399,83.933814,90.350436,93.325838,91.838137
$585-615,83.599686,83.885211,90.788049,92.410786,91.599418
$615-645,79.079225,81.891436,73.021426,83.214343,78.117884
$645-675,76.997210,81.027843,63.972368,78.427809,71.200088

## Scores by School Size

* Perform the same operations as above, based on school size.

In [11]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#scores by school size
Scores_By_Size= School_Summary
Scores_By_Size["School Size"]= pd.cut(Total_Students, size_bins, labels = group_names)

Math_Score_School_Size= Scores_By_Size.groupby(["School Size"]).mean()["Average Math Score"]
Read_Score_School_Size= Scores_By_Size.groupby(["School Size"]).mean()["Average Reading Score"]
Math_Percent_School_Size= Scores_By_Size.groupby(["School Size"]).mean()["% Passing Math"]
Read_Percent_School_Size= Scores_By_Size.groupby(["School Size"]).mean()["% Passing Reading"]
Overall_Score_School_Size= Scores_By_Size.groupby(["School Size"]).mean()["Overall Passing Rate"]

Scores_By_Size = pd.DataFrame({"Average Math Score": Math_Score_School_Size,
                               "Average Reading Score": Read_Score_School_Size,
                               "% Passing Math": Math_Percent_School_Size,
                               "% Passing Reading": Read_Percent_School_Size,
                               "Overall Passing Rate": Overall_Score_School_Size})

Scores_By_Size= Scores_By_Size[['Average Math Score', 'Average Reading Score', '% Passing Math', 
                                '% Passing Reading', 'Overall Passing Rate']]
Scores_By_Size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,91.158155,92.471895,91.815025
Medium (1000-2000),83.374684,83.864438,89.931303,93.244843,91.588073
Large (2000-5000),77.746417,81.344493,67.631335,80.190800,73.911067

## Scores by School Type

* Perform the same operations as above, based on school type.

In [13]:
# scores by school type
scores_by_type=School_Summary
score_by_type = scores_by_type.groupby(["School Type"]).mean()[["Average Math Score", "Average Reading Score", "% Passing Math",
                                                                   "% Passing Reading", "Overall Passing Rate"]]
score_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,90.363226,93.052812,91.708019
District,76.956733,80.966636,64.302528,78.324559,71.313543